.game {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tetromino .row {
  display: flex;
}

.tetromino .cell {
  width: 30px;
  height: 30px;
}

.tetromino .filled {
  background-color: red;
}
